@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Kurt's Movie Rental</h1>
    <p class="lead">Your one-stop shop for all of your movie rental system needs.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Rent A Movie</h2>
        <p>Click here to assist a customer in renting a movie</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Return A Movie</h2>
        <p>Click here to return a customer's movie</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Overdue Movies</h2>
        <p>For a list of overdue movies, click button below</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>