@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Kurt's Movie Rentals</h1>
    <p class="lead">One-stop for all movie rental system needs</p>
    @*<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Rent Movie</h2>
        <p>Click here to assist customer in renting a movie</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">RENT &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Return Movie</h2>
        <p>Click here to return a customer's movie</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">RETURN &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Overdue Movies</h2>
        <p>Click here for a list of all overdue movies</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn More &raquo;</a></p>
    </div>
</div>